---
layout: default
---

<div class="header">
    <h1><a href="/">{{ site.name }}</a></h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="about">

    <div id="portrait-container">
        <canvas id="portrait-canvas" width="571" height="468">
            <img src="/assets/img/about/original.png" alt="my face" />
        </canvas>
    </div>

    <div class="about__content">
        {{ content }}
    </div>

    <canvas id="hidden-canvas" class="" width="571" height="468" />
</div>