<!DOCTYPE html>
<html>

<head>
    <title>zackpi &mdash; home</title>
    <meta charset="utf-8">
    <meta property="og:title" content="zackpi"/>
    <meta property="og:url" content="https://zackpi.github.io"/>
    <meta property="og:image" content=""/>
    <meta name="description" content="My name is zackpi, aka Zachary Pitcher">
    <meta name="author" content="Zachary Pitcher">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/blog.png">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/default.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/{{ page.style }}.css">
</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>

</body>

</html>
